@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

img {
  max-width: 100%;
}

.section-container {
  @apply max-w-[1110px] mx-auto px-6 text-center;
}

.linear-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.linear-gradient:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.75);
}

@layer base {
  h3 {
    @apply absolute bottom-4 left-4 lg:bottom-8 lg:left-10 text-2xl xl:text-[32px] uppercase text-white leading-none text-left max-w-[140px] md:max-w-sm;
  }
}

#hero {
  background-image: url('../images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
